@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto+Slab:wght@259;300&display=swap');
/* apply font to all body, padding to list, & cursor pointer */
@layer base {
    body {
        @apply font-[Roboto];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

/* cards in projects */
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to left,
        rgba(112, 245, 255, 0.8),
        hsla(187, 61%, 20%, 0.8)
    )!important;
}